%svg.svg-main{"enable-background" => "new 0 0 304.793 600", :height => "600px", :version => "1.1", :viewbox => "0 0 304.793 600", :width => "304.793px", :x => "0px", "xml:space" => "preserve", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
  %g
    %rect{:fill => "#D2D2D2", :height => "30.927", :width => "16.979", :x => "286.564", :y => "284.236"}/
  %g
    %path{:d => "M302.293,285.486v28.427h-14.479v-28.427H302.293 M304.793,282.986h-2.5h-14.479h-2.5v2.5v28.427v2.5h2.5\r\n\t\th14.479h2.5v-2.5v-28.427V282.986L304.793,282.986z", :fill => "#3E4A5F"}/
  %polygon{:fill => "#FFFFFF", :points => "302.293,286.873 287.814,286.873 287.814,286.373 302.293,286.373 302.293,286.873 "}/
  %polygon{:fill => "#3E4A5F", :points => "302.293,288.867 287.814,288.867 287.814,288.367 302.293,288.367 302.293,288.867 "}/
  %polygon{:fill => "#3E4A5F", :points => "302.293,290.86 287.814,290.86 287.814,290.36 302.293,290.36 302.293,290.86 "}/
  %polygon{:fill => "#3E4A5F", :points => "302.293,292.854 287.814,292.854 287.814,292.354 302.293,292.354 302.293,292.854 "}/
  %polygon{:fill => "#3E4A5F", :points => "302.293,294.848 287.814,294.848 287.814,294.348 302.293,294.348 302.293,294.848 "}/
  %polygon{:fill => "#3E4A5F", :points => "302.293,296.84 287.814,296.84 287.814,296.34 302.293,296.34 302.293,296.84 "}/
  %polygon{:fill => "#3E4A5F", :points => "302.293,298.834 287.814,298.834 287.814,298.334 302.293,298.334 302.293,298.834 "}/
  %polygon{:fill => "#FFFFFF", :points => "302.293,300.827 287.814,300.827 287.814,300.327 302.293,300.327 302.293,300.827 "}/
  %polygon{:fill => "#FFFFFF", :points => "302.293,302.82 287.814,302.82 287.814,302.32 302.293,302.32 302.293,302.82 "}/
  %polygon{:fill => "#FFFFFF", :points => "302.293,304.814 287.814,304.814 287.814,304.314 302.293,304.314 302.293,304.814 "}/
  %polygon{:fill => "#FFFFFF", :points => "302.293,306.807 287.814,306.807 287.814,306.307 302.293,306.307 302.293,306.807 "}/
  %polygon{:fill => "#FFFFFF", :points => "302.293,308.801 287.814,308.801 287.814,308.301 302.293,308.301 302.293,308.801 "}/
  %polygon{:fill => "#3E4A5F", :points => "302.293,310.794 287.814,310.794 287.814,310.294 302.293,310.294 302.293,310.794 "}/
  %polygon{:fill => "#3E4A5F", :points => "302.293,312.787 287.814,312.787 287.814,312.287 302.293,312.287 302.293,312.787 "}/
  %g{:opacity => "0.15"}
    %g
      %ellipse{:cx => "147", :cy => "317.939", :rx => "147", :ry => "146.512"}/
  %rect{:fill => "#7BCA83", :height => "600", :width => "127.902", :x => "83.049"}/
  %path{:d => "M81.049,600V0h4v600l0,0H81.049z M208.951,600V0h4v600l0,0H208.951z", :fill => "#3E4A5F"}/
  %g
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "4.518"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "15.11"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "25.702"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "36.293"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "46.885"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "57.477"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "68.069"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "78.661"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "89.252"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "99.844"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "110.436"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "121.028"}/
    %rect{:fill => "#3E4A5F", :height => "2.63", :width => "2.631", :x => "203.588", :y => "131.62"}/
    %rect{:fill => "#3E4A5F", :height => "2.63", :width => "2.631", :x => "203.588", :y => "142.212"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "152.804"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "163.396"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "438.783"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "449.375"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "459.967"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "470.559"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "481.15"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "491.742"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "502.334"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "512.926"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "523.518"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "534.109"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "544.701"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "555.293"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "565.885"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "576.477"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "587.068"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "203.588", :y => "597.66"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "4.518"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "15.11"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "25.702"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "36.293"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "46.885"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "57.477"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "68.069"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "78.661"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "89.252"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "99.844"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "110.436"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "121.028"}/
    %rect{:fill => "#3E4A5F", :height => "2.63", :width => "2.631", :x => "192.996", :y => "131.62"}/
    %rect{:fill => "#3E4A5F", :height => "2.63", :width => "2.631", :x => "192.996", :y => "142.212"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "152.804"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "438.783"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "449.375"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "459.967"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "470.559"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "481.15"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "491.742"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "502.334"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "512.926"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "523.518"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "534.109"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "544.701"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "555.293"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "565.885"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "576.477"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "587.068"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "192.996", :y => "597.66"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "4.518"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "15.11"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "25.702"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "36.293"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "46.885"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "57.477"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "68.069"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "78.661"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "89.252"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "99.844"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "110.436"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "121.028"}/
    %rect{:fill => "#3E4A5F", :height => "2.63", :width => "2.631", :x => "182.404", :y => "131.62"}/
    %rect{:fill => "#3E4A5F", :height => "2.63", :width => "2.631", :x => "182.404", :y => "142.212"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "152.804"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "449.375"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "459.967"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "470.559"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "481.15"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "491.742"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "502.334"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "512.926"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "523.518"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "534.109"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "544.701"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "555.293"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "565.885"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "576.477"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "587.068"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "182.404", :y => "597.66"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "4.518"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "15.11"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "25.702"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "36.293"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "46.885"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "57.477"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "68.069"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "78.661"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "89.252"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "99.844"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "110.436"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "121.028"}/
    %rect{:fill => "#3E4A5F", :height => "2.63", :width => "2.631", :x => "171.812", :y => "131.62"}/
    %rect{:fill => "#3E4A5F", :height => "2.63", :width => "2.631", :x => "171.812", :y => "142.212"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "152.804"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "449.375"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "459.967"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "470.559"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "481.15"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "491.742"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "502.334"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "512.926"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "523.518"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "534.109"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "544.701"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "555.293"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "565.885"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "576.477"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "587.068"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "171.812", :y => "597.66"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "4.518"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "15.11"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "25.702"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "36.293"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "46.885"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "57.477"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "68.069"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "78.661"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "89.252"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "99.844"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "110.436"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "121.028"}/
    %rect{:fill => "#3E4A5F", :height => "2.63", :width => "2.631", :x => "161.221", :y => "131.62"}/
    %rect{:fill => "#3E4A5F", :height => "2.63", :width => "2.631", :x => "161.221", :y => "142.212"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "152.804"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "449.375"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "459.967"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "470.559"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "481.15"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "491.742"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "502.334"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "512.926"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "523.518"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "534.109"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "544.701"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "555.293"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "565.885"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "576.477"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "587.068"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "161.221", :y => "597.66"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "4.518"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "15.11"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "25.702"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "36.293"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "46.885"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "57.477"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "68.069"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "78.661"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "89.252"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "99.844"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "110.436"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "121.028"}/
    %rect{:fill => "#3E4A5F", :height => "2.63", :width => "2.631", :x => "129.445", :y => "131.62"}/
    %rect{:fill => "#3E4A5F", :height => "2.63", :width => "2.631", :x => "129.445", :y => "142.212"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "152.804"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "449.375"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "459.967"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "470.559"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "481.15"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "491.742"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "502.334"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "512.926"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "523.518"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "534.109"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "544.701"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "555.293"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "565.885"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "576.477"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "587.068"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "129.445", :y => "597.66"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "4.518"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "15.11"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "25.702"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "36.293"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "46.885"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "57.477"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "68.069"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "78.661"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "89.252"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "99.844"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "110.436"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "121.028"}/
    %rect{:fill => "#3E4A5F", :height => "2.63", :width => "2.631", :x => "118.854", :y => "131.62"}/
    %rect{:fill => "#3E4A5F", :height => "2.63", :width => "2.631", :x => "118.854", :y => "142.212"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "152.804"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "449.375"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "459.967"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "470.559"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "481.15"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "491.742"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "502.334"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "512.926"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "523.518"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "534.109"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "544.701"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "555.293"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "565.885"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "576.477"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "587.068"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "118.854", :y => "597.66"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "4.518"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "15.11"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "25.702"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "36.293"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "46.885"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "57.477"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "68.069"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "78.661"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "89.252"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "99.844"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "110.436"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "121.028"}/
    %rect{:fill => "#3E4A5F", :height => "2.63", :width => "2.631", :x => "108.262", :y => "131.62"}/
    %rect{:fill => "#3E4A5F", :height => "2.63", :width => "2.631", :x => "108.262", :y => "142.212"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "152.804"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "449.375"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "459.967"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "470.559"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "481.15"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "491.742"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "502.334"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "512.926"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "523.518"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "534.109"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "544.701"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "555.293"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "565.885"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "576.477"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "587.068"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "108.262", :y => "597.66"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "4.518"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "15.11"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "25.702"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "36.293"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "46.885"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "57.477"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "68.069"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "78.661"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "89.252"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "99.844"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "110.436"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "121.028"}/
    %rect{:fill => "#3E4A5F", :height => "2.63", :width => "2.631", :x => "97.67", :y => "131.62"}/
    %rect{:fill => "#3E4A5F", :height => "2.63", :width => "2.631", :x => "97.67", :y => "142.212"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "152.804"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "438.783"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "449.375"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "459.967"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "470.559"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "481.15"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "491.742"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "502.334"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "512.926"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "523.518"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "534.109"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "544.701"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "555.293"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "565.885"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "576.477"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "587.068"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "97.67", :y => "597.66"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "4.518"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "15.11"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "25.702"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "36.293"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "46.885"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "57.477"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "68.069"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "78.661"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "89.252"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "99.844"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "110.436"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "121.028"}/
    %rect{:fill => "#3E4A5F", :height => "2.63", :width => "2.631", :x => "87.078", :y => "131.62"}/
    %rect{:fill => "#3E4A5F", :height => "2.63", :width => "2.631", :x => "87.078", :y => "142.212"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "152.804"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "163.396"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "438.783"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "449.375"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "459.967"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "470.559"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "481.15"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "491.742"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "502.334"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "512.926"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "523.518"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "534.109"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "544.701"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "555.293"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "565.885"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "576.477"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "587.068"}/
    %rect{:fill => "#3E4A5F", :height => "2.631", :width => "2.631", :x => "87.078", :y => "597.66"}/
  %rect{:fill => "#4A70B2", :height => "600", :width => "21.643", :x => "136.179"}/
  %path{:d => "M156.321,600V0h3v600l0,0H156.321z M134.679,600V0h3v600l0,0H134.679z", :fill => "#3E4A5F"}/
  %g{:opacity => "0.3"}
    %g
      %path{:d => "M83.049,442.916c19.335,9.325,41.03,14.557,63.951,14.557c22.921,0,44.616-5.231,63.952-14.557v-27.995H83.049V442.916z"}/
  %path{:d => "M147,444.509c-79.953,0-145-64.827-145-144.51c0-79.684,65.046-144.512,145-144.512\r\n\tc79.954,0,145,64.828,145,144.512C292,379.682,226.953,444.509,147,444.509L147,444.509z", :fill => "#D2D2D2"}/
  %g
    %path{:d => "M147,157.487c38.2,0,74.112,14.826,101.122,41.746C275.127,226.149,290,261.936,290,299.999\r\n\t\tc0,38.062-14.873,73.849-41.879,100.765c-27.01,26.92-62.923,41.745-101.122,41.745s-74.111-14.825-101.121-41.745\r\n\t\tC18.873,373.848,4,338.062,4,299.999c0-38.063,14.873-73.85,41.879-100.767C72.889,172.312,108.801,157.487,147,157.487\r\n\t\t M147,153.487c-81.185,0-147,65.596-147,146.512c0,80.914,65.814,146.51,147,146.51c81.186,0,147-65.596,147-146.51\r\n\t\tC294,219.083,228.186,153.487,147,153.487L147,153.487z", :fill => "#3E4A5F"}/
  %path{:d => "M147,431.216c-36.913,0-70.603-12.51-96.227-33.104c24.123,25.473,58.31,41.375,96.227,41.375\r\n\tc37.918,0,72.107-15.902,96.229-41.376C217.605,418.706,183.915,431.216,147,431.216z", :fill => "#FFFFFF"}/
  %path{:d => "M147,168.785c36.914,0,70.605,12.51,96.229,33.105c-24.123-25.474-58.312-41.377-96.229-41.377\r\n\tc-37.918,0-72.107,15.903-96.229,41.378C76.394,181.295,110.085,168.785,147,168.785z", :fill => "#FFFFFF"}/
  %path{:d => "M147,425.586c-69.477,0-126-56.338-126-125.587c0-69.25,56.523-125.588,126-125.588\r\n\tc69.477,0,126,56.339,126,125.588C273,369.248,216.477,425.586,147,425.586L147,425.586z", :fill => "#E9E9E9"}/
  %g
    %path{:d => "M147,176.411c68.483,0,124,55.333,124,123.588s-55.518,123.587-124,123.587\r\n\t\tc-68.484,0-124-55.332-124-123.587S78.516,176.411,147,176.411 M147,172.411c-34.188,0-66.33,13.27-90.505,37.366\r\n\t\tC32.316,233.875,19,265.917,19,299.999s13.316,66.124,37.495,90.222c24.175,24.096,56.317,37.365,90.505,37.365\r\n\t\tc34.187,0,66.33-13.27,90.505-37.364C261.684,366.123,275,334.081,275,299.999s-13.316-66.124-37.495-90.223\r\n\t\tC213.329,185.681,181.187,172.411,147,172.411L147,172.411z", :fill => "#3E4A5F"}/
  %ellipse{:cx => "147", :cy => "299.999", :fill => "#FFFFFF", :rx => "110", :ry => "109.635"}/
  %path{:d => "M53.311,309.102c2.074,0,3.6-0.699,4.582-2.1c0.98-1.399,1.48-3.287,1.504-5.666c-0.557,0.623-1.359,1.207-2.408,1.75\r\n\tc-1.047,0.545-2.205,0.816-3.477,0.816c-2.096,0-3.85-0.693-5.266-2.082s-2.123-3.232-2.123-5.531s0.764-4.148,2.291-5.549\r\n\tc1.525-1.398,3.447-2.1,5.766-2.1c3.746,0,6.33,1.666,7.758,4.998c0.803,1.911,1.203,4.066,1.203,6.465\r\n\tc0,2.4-0.256,4.398-0.77,5.998c-0.512,1.601-1.215,2.866-2.105,3.8c-1.738,1.822-3.873,2.732-6.402,2.732\r\n\tc-2.531,0-4.82-0.788-6.871-2.366l1.973-2.898c0.512,0.443,1.197,0.844,2.057,1.199C51.879,308.925,52.643,309.102,53.311,309.102z\r\n\t M54.029,300.438c1.35,0,2.475-0.372,3.377-1.115c0.904-0.745,1.355-1.712,1.355-2.901c0-1.187-0.436-2.209-1.305-3.065\r\n\tc-0.869-0.855-1.955-1.282-3.26-1.282s-2.379,0.383-3.227,1.149c-0.848,0.768-1.27,1.75-1.27,2.949s0.383,2.211,1.152,3.033\r\n\tC51.623,300.026,52.682,300.438,54.029,300.438z"}/
  %path{:d => "M197.703,208.322v23.293h-3.746v-23.293H197.703z"}/
  %path{:d => "M231.32,249.748c0.668-0.91,1.002-1.833,1.002-2.765c0-0.934-0.355-1.728-1.07-2.383c-0.713-0.656-1.615-0.983-2.707-0.983\r\n\tc-1.918,0-3.512,0.977-4.781,2.932l-3.176-1.832c1.023-1.534,2.156-2.688,3.393-3.467c1.238-0.777,2.83-1.166,4.781-1.166\r\n\ts3.662,0.617,5.133,1.849c1.471,1.234,2.207,2.916,2.207,5.05c0,1.199-0.312,2.344-0.938,3.432\r\n\tc-0.623,1.088-1.771,2.488-3.443,4.199l-5.482,5.564h10.598v3.766h-15.98v-3.332l7.088-7.098\r\n\tC229.525,251.913,230.65,250.66,231.32,249.748z"}/
  %path{:d => "M75.837,305.621v-0.699l1.061-0.867c2.553-2.047,3.722-3.136,3.722-4.405c0-0.855-0.477-1.645-1.969-1.645\r\n\tc-0.907,0-1.661,0.389-2.123,0.712l-0.431-0.803c0.677-0.479,1.676-0.855,2.83-0.855c2.138,0,3.045,1.244,3.045,2.448\r\n\tc0,1.555-1.338,2.812-3.445,4.521l-0.784,0.622v0.025h4.476v0.945H75.837z"}/
  %path{:d => "M85.59,298.263h-0.031l-1.738,0.791l-0.262-0.868l2.184-0.984h1.154v8.42H85.59V298.263z"}/
  %path{:d => "M85.837,338.844v-0.699l1.061-0.868c2.553-2.047,3.722-3.135,3.722-4.404c0-0.855-0.477-1.646-1.969-1.646\r\n\tc-0.907,0-1.661,0.389-2.123,0.712l-0.431-0.803c0.677-0.479,1.676-0.855,2.83-0.855c2.138,0,3.045,1.244,3.045,2.449\r\n\tc0,1.554-1.338,2.811-3.445,4.521l-0.784,0.622v0.026h4.476v0.945H85.837z"}/
  %path{:d => "M95.836,338.986c-1.953,0-3.292-1.542-3.322-4.327c0-2.837,1.461-4.379,3.491-4.379c2.092,0,3.307,1.581,3.307,4.263\r\n\tc0,2.863-1.277,4.443-3.46,4.443H95.836z M95.897,338.105c1.369,0,2.03-1.36,2.03-3.511c0-2.073-0.615-3.434-2.03-3.434\r\n\tc-1.23,0-2.03,1.322-2.03,3.434c-0.031,2.189,0.769,3.511,2.015,3.511H95.897z"}/
  %path{:d => "M84.836,272.233v-0.7l1.062-0.868c2.553-2.047,3.722-3.135,3.722-4.405c0-0.855-0.477-1.645-1.969-1.645\r\n\tc-0.908,0-1.661,0.389-2.123,0.712l-0.431-0.803c0.677-0.479,1.677-0.855,2.83-0.855c2.138,0,3.045,1.244,3.045,2.448\r\n\tc0,1.555-1.338,2.812-3.445,4.521l-0.785,0.622v0.026h4.476v0.946H84.836z"}/
  %path{:d => "M91.651,272.233v-0.7l1.062-0.868c2.553-2.047,3.722-3.135,3.722-4.405c0-0.855-0.477-1.645-1.969-1.645\r\n\tc-0.908,0-1.661,0.389-2.123,0.712l-0.431-0.803c0.677-0.479,1.677-0.855,2.83-0.855c2.138,0,3.045,1.244,3.045,2.448\r\n\tc0,1.555-1.338,2.812-3.445,4.521l-0.785,0.622v0.026h4.476v0.946H91.651z"}/
  %path{:d => "M109.003,248.646v-0.7l1.062-0.868c2.553-2.047,3.722-3.135,3.722-4.405c0-0.855-0.477-1.645-1.969-1.645\r\n\tc-0.908,0-1.661,0.389-2.123,0.712l-0.431-0.803c0.677-0.479,1.677-0.855,2.83-0.855c2.138,0,3.045,1.244,3.045,2.448\r\n\tc0,1.555-1.338,2.812-3.445,4.521l-0.785,0.622v0.026h4.476v0.946H109.003z"}/
  %path{:d => "M116.142,247.35c0.385,0.194,1.261,0.518,2.215,0.518c1.723,0,2.276-0.92,2.261-1.632c-0.015-1.179-1.276-1.684-2.584-1.684\r\n\th-0.753v-0.855h0.753c0.984,0,2.23-0.427,2.23-1.425c0-0.674-0.508-1.27-1.753-1.27c-0.8,0-1.569,0.298-2,0.557l-0.369-0.829\r\n\tc0.538-0.324,1.554-0.647,2.63-0.647c1.969,0,2.861,0.984,2.861,2.008c0,0.881-0.631,1.62-1.846,1.995v0.026\r\n\tc1.23,0.194,2.23,0.972,2.23,2.15c0,1.348-1.261,2.526-3.645,2.526c-1.123,0-2.107-0.298-2.6-0.57L116.142,247.35z"}/
  %path{:d => "M176.817,239.39h-0.03l-1.738,0.791l-0.262-0.868l2.184-0.984h1.154v8.42h-1.308V239.39z"}/
  %path{:d => "M181.018,245.453c0.385,0.194,1.262,0.518,2.215,0.518c1.723,0,2.277-0.92,2.262-1.632\r\n\tc-0.016-1.179-1.277-1.684-2.584-1.684h-0.754V241.8h0.754c0.984,0,2.23-0.427,2.23-1.425c0-0.674-0.508-1.27-1.754-1.27\r\n\tc-0.8,0-1.568,0.298-2,0.557l-0.369-0.829c0.539-0.324,1.554-0.647,2.631-0.647c1.969,0,2.86,0.984,2.86,2.008\r\n\tc0,0.881-0.63,1.62-1.846,1.995v0.026c1.23,0.194,2.23,0.972,2.23,2.15c0,1.347-1.261,2.526-3.646,2.526\r\n\tc-1.123,0-2.107-0.298-2.6-0.57L181.018,245.453z"}/
  %g
    %path{:d => "M201.817,263.975h-0.03l-1.738,0.791l-0.262-0.868l2.184-0.984h1.154v8.42h-1.308V263.975z"}/
  %g
    %path{:d => "M213.317,297.031h-0.03l-1.738,0.791l-0.262-0.868l2.184-0.984h1.154v8.42h-1.308V297.031z"}/
  %g
    %path{:d => "M223.163,296.928h-3.814l-0.385,2.138c0.23-0.026,0.446-0.052,0.815-0.052c0.784,0,1.538,0.142,2.153,0.453\r\n\t\tc0.784,0.363,1.431,1.101,1.431,2.189c0,1.645-1.554,2.876-3.723,2.876c-1.092,0-2-0.259-2.492-0.519l0.339-0.867\r\n\t\tc0.415,0.207,1.23,0.466,2.153,0.466c1.262,0,2.369-0.7,2.354-1.839c0-1.115-0.877-1.879-2.861-1.879\r\n\t\tc-0.584,0-1.03,0.039-1.399,0.09l0.646-4.016h4.784V296.928z"}/
  %g
    %path{:d => "M203.318,329.979h-0.031l-1.737,0.79l-0.262-0.867l2.185-0.985h1.153v8.421h-1.308V329.979z"}/
  %g
    %path{:d => "M212.902,329.708c-0.277-0.014-0.631,0.013-1.016,0.064c-2.138,0.285-3.245,1.594-3.476,2.992h0.03\r\n\t\tc0.478-0.544,1.323-0.984,2.431-0.984c1.769,0,3.015,1.088,3.015,2.721c0,1.555-1.246,2.979-3.338,2.979\r\n\t\tc-2.122,0-3.521-1.399-3.521-3.589c0-1.658,0.691-2.966,1.691-3.809c0.83-0.687,1.938-1.114,3.199-1.243\r\n\t\tc0.4-0.052,0.738-0.065,0.984-0.065V329.708z M210.58,336.6c1.153,0,1.938-0.816,1.938-2.021c0-1.204-0.814-1.93-2.061-1.93\r\n\t\tc-0.815,0-1.584,0.414-1.953,1.036c-0.077,0.13-0.139,0.285-0.139,0.492c0.016,1.387,0.784,2.423,2.199,2.423H210.58z"}/
  %g
    %path{:d => "M143.847,366.875h-0.031l-1.738,0.79l-0.261-0.867l2.184-0.985h1.153v8.421h-1.307V366.875z"}/
  %g
    %path{:d => "M150.463,365.67c1.938,0,2.922,1.011,2.922,2.073c0,0.713-0.431,1.489-1.661,1.969v0.039\r\n\t\tc1.246,0.415,2.015,1.166,2.015,2.177c0,1.477-1.491,2.448-3.398,2.448c-2.092,0-3.354-1.036-3.354-2.268\r\n\t\tc0-1.062,0.754-1.826,1.969-2.267v-0.039c-1.123-0.44-1.6-1.166-1.6-1.892c0-1.334,1.338-2.241,3.092-2.241H150.463z\r\n\t\t M150.386,373.547c1.215,0,1.999-0.635,1.999-1.503c0-1.011-0.846-1.516-2.199-1.84c-1.169,0.285-1.799,0.946-1.799,1.749\r\n\t\tc-0.047,0.843,0.723,1.594,1.983,1.594H150.386z M150.416,366.486c-1.122,0-1.737,0.622-1.737,1.348\r\n\t\tc-0.016,0.842,0.753,1.295,1.907,1.555c0.861-0.246,1.522-0.765,1.522-1.529c0-0.674-0.477-1.373-1.677-1.373H150.416z"}/
  %g
    %path{:d => "M110.013,357.571h-0.031l-1.738,0.79l-0.261-0.867l2.184-0.985h1.153v8.421h-1.307V357.571z"}/
  %g
    %path{:d => "M114.06,364.14c0.292,0.013,0.63,0,1.092-0.052c0.784-0.078,1.522-0.35,2.092-0.816c0.661-0.505,1.138-1.244,1.322-2.241\r\n\t\th-0.046c-0.554,0.57-1.354,0.907-2.369,0.907c-1.799,0-2.953-1.141-2.953-2.591c0-1.581,1.384-2.98,3.43-2.98\r\n\t\tc2.045,0,3.307,1.387,3.307,3.55c0,1.853-0.738,3.148-1.723,3.964c-0.769,0.622-1.83,1.023-2.907,1.128\r\n\t\tc-0.492,0.052-0.938,0.077-1.246,0.064V364.14z M116.506,357.234c-1.139,0-1.954,0.855-1.954,2.047c0,1.05,0.753,1.788,1.922,1.788\r\n\t\tc0.908,0,1.615-0.376,1.984-0.881c0.062-0.104,0.107-0.233,0.107-0.415c0.016-1.45-0.63-2.539-2.045-2.539H116.506z"}/
  %g
    %path{:d => "M181.369,356.06h-0.031l-1.737,0.79l-0.262-0.867l2.185-0.985h1.153v8.421h-1.308V356.06z"}/
  %g
    %path{:d => "M190.968,354.997v0.752l-4.353,7.669h-1.385l4.322-7.449v-0.025h-4.891v-0.946H190.968z"}/
  %g
    %g
      %path{:d => "M211.001,269.078v-6.099h-2.827l-2.862,7.144h4.679v1.26h1.011v-1.26h0.885v-1.045H211.001z M209.99,269.078h-3.009\r\n\t\t\tl2.007-5.207h1.01L209.99,269.078z"}/
  %g
    %g
      %path{:d => "M141.109,237.446v-0.7l1.062-0.868c2.553-2.047,3.722-3.135,3.722-4.405c0-0.855-0.477-1.645-1.969-1.645\r\n\t\t\tc-0.908,0-1.661,0.389-2.123,0.712l-0.431-0.803c0.677-0.479,1.677-0.855,2.83-0.855c2.138,0,3.045,1.244,3.045,2.448\r\n\t\t\tc0,1.555-1.338,2.812-3.445,4.521l-0.785,0.622v0.026h4.476v0.946H141.109z"}/
  %g
    %g
      %path{:d => "M153.728,235.223v-6.099H150.9l-2.862,7.144h4.679v1.26h1.011v-1.26h0.885v-1.044H153.728z M152.717,235.223h-3.009\r\n\t\t\tl2.007-5.208h1.01L152.717,235.223z"}/
  %g
    %path{:d => "M237.832,291.514v-3.5h13.676v3.066l-5.65,6.298c2.139,0.067,3.811,0.739,5.016,2.016c1.203,1.278,1.805,2.806,1.805,4.583\r\n\t\tc0,2.377-0.809,4.243-2.424,5.598c-1.617,1.355-3.695,2.032-6.236,2.032s-5.025-0.811-7.455-2.432l1.672-3.167\r\n\t\tc1.916,1.334,3.922,2,6.018,2c1.359,0,2.48-0.315,3.359-0.949c0.881-0.634,1.322-1.545,1.322-2.732c0-1.189-0.49-2.139-1.473-2.85\r\n\t\tc-0.98-0.711-2.34-1.066-4.078-1.066c-0.869,0-1.705,0.122-2.508,0.367v-3l5.416-6.264H237.832z"}/
  %g
    %path{:d => "M233.928,350.193h2.809v3.422h-2.809v3.997h-3.744v-3.997h-12.676l7.916-18.646h8.504V350.193z M230.205,338.292h-2.197\r\n\t\tl-4.918,11.901h7.094L230.205,338.292z"}/
  %g
    %path{:d => "M204.49,367.67v3.564h-9.863v5.733c0.98-0.534,2.094-0.801,3.344-0.801c2.184,0,4.066,0.656,5.65,1.967\r\n\t\tc1.582,1.31,2.373,3.087,2.373,5.331c0,2.245-0.824,4.104-2.475,5.581c-1.648,1.478-3.678,2.218-6.084,2.218\r\n\t\tc-3.143,0-5.65-1.046-7.523-3.135l2.107-2.865c0.178,0.18,0.418,0.39,0.719,0.635c0.301,0.243,0.918,0.57,1.855,0.983\r\n\t\tc0.936,0.41,1.961,0.615,3.076,0.615c1.113,0,2.127-0.333,3.041-0.999c0.914-0.668,1.371-1.639,1.371-2.916\r\n\t\ts-0.484-2.266-1.453-2.967c-0.971-0.698-2.197-1.049-3.678-1.049c-1.484,0-2.893,0.365-4.23,1.1l-1.672-1.799V367.67H204.49z"}/
  %g
    %path{:d => "M62.008,243.815v20.271h-3.26v-20.271H62.008z"}/
  %g
    %path{:d => "M66.607,261.461c-1.377-1.903-2.066-4.451-2.066-7.641s0.689-5.738,2.066-7.642s3.453-2.856,6.227-2.856\r\n\t\ts4.85,0.953,6.227,2.856s2.066,4.453,2.066,7.642s-0.689,5.737-2.066,7.641c-1.377,1.904-3.453,2.855-6.227,2.855\r\n\t\tS67.984,263.365,66.607,261.461z M69.066,248.339c-0.805,1.392-1.207,3.219-1.207,5.481c0,2.262,0.402,4.088,1.207,5.48\r\n\t\tc0.805,1.392,2.061,2.088,3.768,2.088s2.953-0.691,3.738-2.073c0.787-1.382,1.18-3.214,1.18-5.495s-0.393-4.114-1.18-5.496\r\n\t\tc-0.785-1.382-2.031-2.074-3.738-2.074S69.871,246.947,69.066,248.339z"}/
  %g
    %path{:d => "M98.596,207.562v22.817h-3.26v-22.817H98.596z"}/
  %g
    %path{:d => "M108.051,207.562v22.817h-3.258v-22.817H108.051z"}/
  %g
    %path{:d => "M63.301,337.735c1.492-1.178,3.365-1.766,5.617-1.766c2.25,0,4.123,0.588,5.617,1.766c1.492,1.178,2.24,2.66,2.24,4.447\r\n\t\tc0,1.789-0.836,3.372-2.508,4.75c2.25,1.421,3.377,3.42,3.377,5.998c0,1.999-0.803,3.677-2.408,5.031\r\n\t\tc-1.605,1.355-3.711,2.032-6.318,2.032s-4.715-0.677-6.32-2.032c-1.604-1.354-2.406-3.032-2.406-5.031\r\n\t\tc0-2.578,1.125-4.577,3.377-5.998c-1.672-1.378-2.508-2.961-2.508-4.75C61.061,340.396,61.807,338.913,63.301,337.735z\r\n\t\t M65.641,355.612c1.025,0.656,2.117,0.983,3.277,0.983c1.158,0,2.25-0.327,3.275-0.983c1.025-0.653,1.539-1.594,1.539-2.816\r\n\t\tc0-1.221-0.49-2.165-1.471-2.832c-0.982-0.666-2.096-0.999-3.344-0.999s-2.363,0.333-3.344,0.999\r\n\t\tc-0.98,0.667-1.471,1.611-1.471,2.832C64.104,354.019,64.615,354.959,65.641,355.612z M65.959,345.016\r\n\t\tc0.836,0.679,1.822,1.016,2.959,1.016s2.123-0.337,2.959-1.016c0.836-0.678,1.254-1.511,1.254-2.5c0-0.987-0.418-1.814-1.254-2.48\r\n\t\ts-1.822-0.999-2.959-0.999s-2.123,0.333-2.959,0.999s-1.254,1.493-1.254,2.48C64.705,343.505,65.123,344.338,65.959,345.016z"}/
  %g
    %path{:d => "M93.344,370.267h15.617v3.5l-9.896,19.794h-4.348l9.664-19.728H93.344V370.267z"}/
  %g
    %path{:d => "M148.32,385.395c-2.074,0-3.602,0.7-4.582,2.101c-0.98,1.399-1.482,3.287-1.504,5.664c0.557-0.621,1.359-1.205,2.408-1.75\r\n\t\tc1.047-0.543,2.205-0.815,3.477-0.815c2.096,0,3.852,0.695,5.268,2.083c1.414,1.388,2.123,3.231,2.123,5.53\r\n\t\tc0,2.301-0.764,4.15-2.291,5.55s-3.449,2.099-5.768,2.099c-3.746,0-6.332-1.666-7.758-4.999c-0.803-1.909-1.203-4.064-1.203-6.465\r\n\t\tc0-2.398,0.256-4.397,0.77-5.997c0.512-1.601,1.213-2.866,2.105-3.798c1.738-1.822,3.873-2.733,6.404-2.733\r\n\t\tc2.529,0,4.818,0.788,6.871,2.365l-1.973,2.9c-0.514-0.446-1.199-0.845-2.057-1.201C149.752,385.573,148.99,385.395,148.32,385.395\r\n\t\tz M147.601,394.059c-1.349,0-2.474,0.372-3.376,1.117c-0.904,0.744-1.355,1.712-1.355,2.899c0,1.189,0.436,2.211,1.305,3.065\r\n\t\ts1.961,1.283,3.277,1.283c1.314,0,2.408-0.384,3.277-1.15c0.869-0.766,1.303-1.742,1.303-2.932s-0.4-2.2-1.203-3.033\r\n\t\tS148.949,394.059,147.601,394.059z"}/
  %rect{:height => "3.925", :width => "2.938", :x => "145.531", :y => "178.99"}/
  %rect{:height => "3.925", :width => "2.938", :x => "145.496", :y => "416.447"}/
  %polygon{:points => "89.691,197.818 87.146,199.282 85.178,195.883 87.723,194.419 "}/
  %polygon{:points => "208.785,403.479 206.242,404.942 204.273,401.544 206.816,400.08 "}/
  %polygon{:points => "46.264,240.015 44.795,242.552 41.385,240.589 42.854,238.053 "}/
  %polygon{:points => "252.578,358.774 251.109,361.309 247.699,359.347 249.168,356.812 "}/
  %rect{:height => "2.928", :width => "3.938", :x => "25.887", :y => "298.201"}/
  %rect{:height => "2.928", :width => "3.938", :x => "264.138", :y => "298.235"}/
  %polygon{:points => "44.777,356.782 46.246,359.317 42.836,361.279 41.367,358.745 "}/
  %polygon{:points => "251.125,238.084 252.596,240.619 249.186,242.581 247.715,240.046 "}/
  %polygon{:points => "87.117,400.064 89.66,401.528 87.691,404.927 85.148,403.463 "}/
  %polygon{:points => "206.271,194.438 208.814,195.9 206.846,199.299 204.303,197.837 "}/
  %circle{:cx => "147.001", :cy => "300.001", :r => "10.257"}/
  %path{:d => "M136.676,299.999c0-5.683,4.621-10.29,10.324-10.29c5.702,0,10.325,4.607,10.325,10.29s-4.623,10.29-10.325,10.29\r\n\tC141.564,310.289,136.676,305.86,136.676,299.999z"}/
  %g{:transform => "translate(0,0)"}
    %polygon.minute-hand{:points => "149.411,194.968 147,192.51 144.589,194.983 144.588,300.008 149.408,299.991 "}/
  %g{:transform => "translate(0,0)"}
    %polygon.hour-hand{:points => "149.411,232.068 147,229.593 144.592,232.054 144.589,299.992 149.41,300.006 "}/
  %g
    %path{:d => "M148.695,213.819l4.772-4.842c1.454-1.488,2.452-2.707,2.995-3.654c0.543-0.947,0.814-1.943,0.814-2.987\r\n\t\tc0-1.855-0.639-3.321-1.92-4.394c-1.279-1.073-2.77-1.61-4.467-1.61s-3.083,0.339-4.161,1.016c-1.076,0.677-2.06,1.682-2.953,3.016\r\n\t\tl2.764,1.595c1.105-1.702,2.492-2.552,4.162-2.552c0.949,0,1.734,0.285,2.355,0.855s0.932,1.262,0.932,2.073\r\n\t\tc0,0.812-0.291,1.615-0.873,2.407c-0.582,0.793-1.561,1.885-2.939,3.277l-6.168,6.177v2.9h13.908v-3.278H148.695z"}/
  %g
    %rect{:height => "19.793", :width => "3.26", :x => "138.502", :y => "197.304"}/
  %g
    %rect{:height => "7.845", :transform => "matrix(-0.995 0.1 -0.1 -0.995 359.278 813.5916)", :width => "0.771", :x => "158.861", :y => "411.878"}/
  %g
    %polygon{:points => "133.961,179.684 134.727,179.607 135.549,187.413 134.781,187.492 \t"}/
  %g
    %polygon{:points => "170.162,410.13 170.918,409.975 172.555,417.646 171.799,417.806 \t"}/
  %g
    %polygon{:points => "121.447,181.7 122.201,181.544 123.838,189.222 123.082,189.379 \t"}/
  %g
    %polygon{:points => "181.619,407.113 182.354,406.878 184.787,414.339 184.051,414.576 \t"}/
  %g
    %polygon{:points => "109.213,185.009 109.947,184.775 112.381,192.24 111.646,192.475 \t"}/
  %g
    %polygon{:points => "192.695,402.918 193.402,402.606 196.604,409.774 195.898,410.086 \t"}/
  %g
    %polygon{:points => "97.395,189.574 98.1,189.264 101.303,196.436 100.596,196.745 \t"}/
  %g
    %polygon{:points => "213.234,391.191 213.861,390.742 218.486,397.09 217.861,397.541 \t"}/
  %g
    %polygon{:points => "75.51,202.259 76.135,201.811 80.764,208.161 80.139,208.61 \t"}/
  %g
    %polygon{:points => "222.469,383.79 223.045,383.276 228.311,389.108 227.738,389.622 \t"}/
  %g
    %polygon{:points => "65.686,210.241 66.258,209.729 71.527,215.563 70.953,216.075 \t"}/
  %g
    %polygon{:points => "230.877,375.467 231.396,374.896 237.244,380.148 236.729,380.719 \t"}/
  %g
    %polygon{:points => "56.75,219.202 57.268,218.634 63.119,223.887 62.602,224.456 \t"}/
  %g
    %polygon{:points => "238.367,366.313 238.822,365.692 245.189,370.304 244.736,370.927 \t"}/
  %g
    %polygon{:points => "48.805,229.046 49.258,228.427 55.631,233.041 55.176,233.661 \t"}/
  %g
    %polygon{:points => "250.27,345.924 250.586,345.222 257.777,348.414 257.463,349.117 \t"}/
  %g
    %polygon{:points => "36.215,250.938 36.531,250.239 43.727,253.432 43.41,254.133 \t"}/
  %g
    %polygon{:points => "254.555,334.913 254.795,334.181 262.283,336.606 262.043,337.339 \t"}/
  %g
    %polygon{:points => "31.711,262.746 31.951,262.018 39.441,264.443 39.201,265.174 \t"}/
  %g
    %polygon{:points => "257.66,323.517 257.824,322.763 265.525,324.396 265.361,325.147 \t"}/
  %g
    %polygon{:points => "28.469,274.959 28.631,274.211 36.334,275.842 36.172,276.594 \t"}/
  %g
    %polygon{:points => "259.555,311.856 259.639,311.091 267.467,311.912 267.385,312.677 \t"}/
  %g
    %polygon{:points => "26.525,287.443 26.609,286.682 34.441,287.502 34.357,288.267 \t"}/
  %g
    %rect{:height => "7.873", :transform => "matrix(0.1014 0.9948 -0.9948 0.1014 522.7874 -3.8246)", :width => "0.771", :x => "263.125", :y => "283.538"}/
  %g
    %rect{:height => "7.875", :transform => "matrix(0.102 0.9948 -0.9948 0.102 337.6291 249.7397)", :width => "0.766", :x => "30.1", :y => "307.947"}/
  %g
    %rect{:height => "7.872", :transform => "matrix(0.2056 0.9786 -0.9786 0.2056 477.3192 -37.2291)", :width => "0.769", :x => "261.207", :y => "271.467"}/
  %g
    %rect{:height => "7.874", :transform => "matrix(0.2042 0.9789 -0.9789 0.2042 342.9143 226.0844)", :width => "0.765", :x => "32.018", :y => "320.02"}/
  %g
    %rect{:height => "7.871", :transform => "matrix(0.3071 0.9517 -0.9517 0.3071 429.9263 -63.2805)", :width => "0.77", :x => "258.034", :y => "259.662"}/
  %g
    %rect{:height => "7.871", :transform => "matrix(0.3055 0.9522 -0.9522 0.3055 344.4148 199.3089)", :width => "0.767", :x => "35.191", :y => "331.827"}/
  %g
    %rect{:height => "7.868", :transform => "matrix(0.4035 0.915 -0.915 0.4035 382.2543 -82.0043)", :width => "0.77", :x => "253.64", :y => "248.253"}/
  %g
    %rect{:height => "7.87", :transform => "matrix(0.405 0.9143 -0.9143 0.405 341.2153 170.0378)", :width => "0.767", :x => "39.585", :y => "343.237"}/
  %g
    %rect{:height => "7.862", :transform => "matrix(0.5839 0.8118 -0.8118 0.5839 288.1583 -100.1445)", :width => "0.769", :x => "241.393", :y => "227.116"}/
  %g
    %rect{:height => "7.866", :transform => "matrix(0.586 0.8103 -0.8103 0.586 320.05 110.1555)", :width => "0.767", :x => "51.832", :y => "364.38"}/
  %g
    %rect{:height => "7.86", :transform => "matrix(0.6653 0.7466 -0.7466 0.6653 243.7393 -100.5909)", :width => "0.769", :x => "233.675", :y => "217.619"}/
  %g
    %rect{:height => "7.864", :transform => "matrix(0.6678 0.7443 -0.7443 0.6678 301.1167 80.8872)", :width => "0.766", :x => "59.549", :y => "373.881"}/
  %g
    %rect{:height => "7.857", :transform => "matrix(0.7405 0.672 -0.672 0.7405 201.568 -96.2246)", :width => "0.77", :x => "225.005", :y => "208.979"}/
  %g
    %rect{:height => "7.86", :transform => "matrix(0.7419 0.6705 -0.6705 0.7419 276.83 53.7446)", :width => "0.766", :x => "68.221", :y => "382.525"}/
  %g
    %rect{:height => "7.854", :transform => "matrix(0.8069 0.5906 -0.5906 0.8069 162.8764 -87.874)", :width => "0.77", :x => "215.475", :y => "201.289"}/
  %g
    %rect{:height => "7.859", :transform => "matrix(0.8082 0.5889 -0.5889 0.8082 247.1123 29.5883)", :width => "0.766", :x => "77.751", :y => "390.218"}/
  %g
    %rect{:height => "7.85", :transform => "matrix(0.9119 0.4104 -0.4104 0.9119 96.3493 -62.8771)", :width => "0.771", :x => "194.264", :y => "189.086"}/
  %g
    %rect{:height => "7.853", :transform => "matrix(0.9125 0.4091 -0.4091 0.9125 174.9298 -5.0827)", :width => "0.766", :x => "98.963", :y => "402.428"}/
  %g
    %rect{:height => "7.849", :transform => "matrix(0.9502 0.3117 -0.3117 0.9502 67.914 -47.7019)", :width => "0.771", :x => "182.816", :y => "184.706"}/
  %g
    %rect{:height => "7.852", :transform => "matrix(0.9501 0.312 -0.312 0.9501 133.6894 -14.0642)", :width => "0.767", :x => "110.411", :y => "406.808"}/
  %g
    %rect{:height => "7.846", :transform => "matrix(0.9773 0.212 -0.212 0.9773 43.2043 -32.1058)", :width => "0.769", :x => "170.971", :y => "181.545"}/
  %g
    %rect{:height => "7.85", :transform => "matrix(0.9776 0.2106 -0.2106 0.9776 89.9063 -16.5443)", :width => "0.765", :x => "122.257", :y => "409.973"}/
  %g
    %rect{:height => "7.845", :transform => "matrix(0.994 0.1097 -0.1097 0.994 21.0904 -16.3566)", :width => "0.77", :x => "158.859", :y => "179.634"}/
  %g
    %rect{:height => "7.851", :transform => "matrix(0.9943 0.1068 -0.1068 0.9943 45.1803 -12.0136)", :width => "0.768", :x => "134.369", :y => "411.885"}/
  %path{:d => "M135.103,252.898h-2.28v-0.693h5.551v0.693h-2.292v5.621h-0.979V252.898z"}/
  %path{:d => "M140.956,252.205v6.314h-0.979v-6.314H140.956z"}/
  %path{:d => "M149.745,255.746c-0.056-0.88-0.123-1.948-0.123-2.726H149.6c-0.267,0.731-0.566,1.527-0.945,2.398l-1.323,3.063h-0.734\r\n\tl-1.224-3.007c-0.356-0.899-0.645-1.705-0.856-2.455h-0.022c-0.022,0.787-0.078,1.836-0.145,2.792l-0.2,2.708h-0.923l0.523-6.314\r\n\th1.235l1.279,3.054c0.311,0.777,0.556,1.471,0.756,2.126h0.022c0.2-0.637,0.467-1.33,0.801-2.126l1.335-3.054h1.234l0.467,6.314\r\n\th-0.956L149.745,255.746z"}/
  %path{:d => "M157.022,255.559h-2.903v2.276h3.248v0.684h-4.228v-6.314h4.061v0.684h-3.081v1.996h2.903V255.559z"}/
  %path{:d => "M163.509,258.52l-0.968-1.396c-0.39-0.534-0.623-0.881-0.856-1.246h-0.022c-0.211,0.365-0.434,0.703-0.812,1.255l-0.9,1.387\r\n\th-1.112l2.291-3.195l-2.202-3.12h1.123l0.99,1.48c0.278,0.413,0.489,0.731,0.689,1.068h0.033c0.212-0.375,0.401-0.666,0.679-1.068\r\n\tl1.013-1.48h1.123l-2.28,3.073l2.336,3.242H163.509z"}/
  %path{:d => "M134.587,347.215v4.464h-0.691v-4.464H134.587z"}/
  %path{:d => "M136.333,351.679v-4.464h0.754l1.689,2.259c0.385,0.523,0.7,0.993,0.943,1.45l0.023-0.007\r\n\tc-0.063-0.596-0.079-1.139-0.079-1.834v-1.868h0.645v4.464h-0.692l-1.682-2.265c-0.369-0.497-0.723-1.007-0.982-1.49l-0.024,0.007\r\n\tc0.04,0.562,0.047,1.099,0.047,1.841v1.907H136.333z"}/
  %path{:d => "M142.055,347.281c0.417-0.06,0.912-0.099,1.454-0.099c0.982,0,1.682,0.198,2.146,0.556c0.479,0.364,0.754,0.881,0.754,1.603\r\n\tc0,0.729-0.275,1.324-0.762,1.735c-0.503,0.417-1.32,0.643-2.35,0.643c-0.495,0-0.896-0.021-1.242-0.054V347.281z M142.739,351.229\r\n\tc0.173,0.02,0.424,0.026,0.692,0.026c1.469,0,2.255-0.688,2.255-1.894c0.008-1.054-0.699-1.723-2.145-1.723\r\n\tc-0.354,0-0.621,0.027-0.802,0.06V351.229z"}/
  %path{:d => "M148.524,347.215v4.464h-0.692v-4.464H148.524z"}/
  %path{:d => "M154.309,351.48c-0.307,0.099-0.92,0.244-1.635,0.244c-0.802,0-1.462-0.172-1.98-0.589\r\n\tc-0.456-0.371-0.738-0.967-0.738-1.662c0-1.331,1.092-2.305,2.868-2.305c0.612,0,1.1,0.112,1.328,0.205l-0.173,0.471\r\n\tc-0.283-0.113-0.637-0.192-1.171-0.192c-1.289,0-2.13,0.676-2.13,1.795c0,1.132,0.802,1.801,2.043,1.801\r\n\tc0.448,0,0.755-0.053,0.912-0.119v-1.331h-1.069v-0.464h1.745V351.48z"}/
  %path{:d => "M155.89,347.215h0.691v3.98h2.263v0.483h-2.954V347.215z"}/
  %path{:d => "M164.378,349.4c0,1.53-1.108,2.352-2.46,2.352c-1.406,0-2.381-0.921-2.381-2.271c0-1.418,1.037-2.345,2.451-2.345\r\n\tC163.442,347.136,164.378,348.069,164.378,349.4z M160.26,349.467c0,0.96,0.613,1.814,1.697,1.814c1.085,0,1.697-0.841,1.697-1.854\r\n\tc0-0.894-0.55-1.82-1.689-1.82S160.26,348.493,160.26,349.467z"}/
  %circle{:cx => "147.001", :cy => "300.002", :fill => "#4B659B", :r => "8.347"}/
  %g{:transform => "translate(0,0)"}
    %polygon.second-hand{:fill => "#4B659B", :points => "150.218,307.705 149.044,300 147.626,192.53 147,192.53 146.374,192.53 144.957,300 \r\n\t143.783,307.705 143.061,339.841 147,339.841 150.939,339.841 "}/
  %path{:d => "M145.965,299.999c0-0.568,0.463-1.03,1.035-1.03c0.571,0,1.036,0.462,1.036,1.03\r\n\tc0,0.57-0.464,1.032-1.036,1.032C146.455,301.031,145.965,300.587,145.965,299.999z", :fill => "#E9E9E9"}/