{% extends "base.html" %}
{% block content %}



    <section class='watch' id='mvmt-tan'>
      {% include "watches/_mvmt.html" %}
      <div class='watch-info'>
        <div class='row'>
          <div class='large-5 columns'>
            <h3>MVMT</h3>
            <ul class='info-list'>
              <li>
                <span class='key'>Maker</span>
                <a class='value' href='http://www.mvmtwatches.com/collections/men/products/white-tan-leather' target='_blank'>MVMT</a>
              </li>
              <li>
                <span class='key'>Posted</span>
                <span class='value'>Feb. 22nd, 2015</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>



    <section class='watch' id='avi8-4001-01'>
      {% include "watches/_avi8_4001_01.html" %}
      <div class='watch-info'>
        <div class='row'>
          <div class='large-5 columns'>
            <h3>Hawker Harrier II</h3>
            <ul class='info-list'>
              <li>
                <span class='key'>Maker</span>
                <a class='value' href='http://www.avi-8nation.com/products/hawker-harrier-ii-av-4001-01' target='_blank'>AVI-8</a>
              </li>
              <li>
                <span class='key'>Posted</span>
                <span class='value'>Jun. 30th, 2014</span>
              </li>
              <li>
                <a class='value' href='http://society6.com/mattsjohnston/hawker-harrier-ii_print#1=45' target='_blank'>Buy Print</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    
    

    <section class='watch' id='gownandoars-thefitz'>
      {% include "watches/_gownandoars_thefitz.html" %}
      <div class='watch-info'>
        <div class='row'>
          <div class='large-5 columns'>
            <h3>The Fitz</h3>
            <ul class='info-list'>
              <li>
                <span class='key'>Maker</span>
                <a class='value' href='http://www.gownandoars.com/products/fitz' target='_blank'>Gown & Oars</a>
              </li>
              <li>
                <span class='key'>Posted</span>
                <span class='value'>Dec. 18th, 2013</span>
              </li>
              <li>
                <a class='value' href='http://society6.com/mattsjohnston/the-fitz_print#1=45' target='_blank'>Buy Print</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    
    

    <section class='watch watch-digital' id='f91w'>
    {% include "watches/_f91w.html" %}
      <div class='watch-info'>
        <div class='row'>
          <div class='large-5 columns'>
            <h3>F-91W</h3>
            <ul class='info-list'>
              <li>
                <span class='key'>Maker</span>
                <a class='value' href='http://www.casio-usa.com/products/Watches/Classic/F91W-1/' target='_blank'>Casio</a>
              </li>
              <li>
                <span class='key'>Posted</span>
                <span class='value'>Oct. 29th, 2013</span>
              </li>
              <li>
                <a class='value' href='http://society6.com/mattsjohnston/f-91w_print#1=45' target='_blank'>Buy Print</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>



    <section class='watch' id='polygon'>
      {% include "watches/_polygon.html" %}
      <div class='watch-info'>
        <div class='row'>
          <div class='large-5 columns'>
            <h3>Polygon</h3>
            <ul class='info-list'>
              <li>
                <span class='key'>Posted</span>
                <span class='value'>Oct. 8th, 2013</span>
              </li>
              <li>
                <span class='key'>Guest Illustrator</span>
                <a class='value' href='http://dribbble.com/ronaldhagenstein' target='_blank'>Ronald Hagenstein</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>



    <section class='watch' id='normal'>
      {% include "watches/_normal.html" %}
      <div class='watch-info'>
        <div class='row'>
          <div class='large-5 columns'>
            <h3>Extra Normal</h3>
            <ul class='info-list'>
              <li>
                <span class='key'>Maker</span>
                <a class='value' href='http://normaldesign.net/en/watches/watches-extra-normal' target='_blank'>Normal</a>
              </li>
              <li>
                <span class='key'>Posted</span>
                <span class='value'>Sep. 8th, 2013</span>
              </li>
              <li>
                <a class='value' href='http://society6.com/mattsjohnston/extra-normal_print#1=45' target='_blank'>Buy Print</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    
    


    <section class='watch' id='bn0032'>
      {% include "watches/_bn0032.html" %}
      <div class='watch-info'>
        <div class='row'>
          <div class='large-5 columns'>
            <h3>BN0032</h3>
            <ul class='info-list'>
              <li>
                <span class='key'>Maker</span>
                <a class='value' href='http://www.braun-clocks.com/watch/BN0032C' target='_blank'>Braun</a>
              </li>
              <li>
                <span class='key'>Posted</span>
                <span class='value'>Aug. 30th, 2013</span>
              </li>
              <li>
                <span class='key'>Guest Illustrator</span>
                <a class='value' href='https://twitter.com/dmiiiitri' target='_blank'>Dmitri Litvinov</a>
              </li>
              <li>
                <a class='value' href='http://society6.com/mattsjohnston/bn0032_print#1=45' target='_blank'>Buy Print</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    
    


    <section class='watch' id='no1'>
      {% include "watches/_no1.html" %}
      <div class='watch-info'>
        <div class='row'>
          <div class='large-5 columns'>
            <h3>No. 1</h3>
            <ul class='info-list'>
              <li>
                <span class='key'>Maker</span>
                <a class='value' href='http://www.formuswithlove.se/' target='_blank'>Form Us With Love</a>
              </li>
              <li>
                <span class='key'>Posted</span>
                <span class='value'>Aug. 16th, 2013</span>
              </li>
              <li>
                <a class='value' href='http://society6.com/mattsjohnston/no-1-mjp_print#1=45' target='_blank'>Buy Print</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    
    


    <section class='watch' id='weekender'>
      {% include "watches/_weekender.html" %}
      <div class='watch-info'>
        <div class='row'>
          <div class='large-5 columns'>
            <h3>The Weekender</h3>
            <ul class='info-list'>
              <li>
                <span class='key'>Maker</span>
                <a class='value' href='http://www.timex.com/watches/timex-weekender-slip-thru-t2p1439j' target='_blank'>Timex</a>
              </li>
              <li>
                <span class='key'>Posted</span>
                <span class='value'>Aug. 3rd, 2013</span>
              </li>
              <li>
                <a class='value' href='http://society6.com/mattsjohnston/the-weekender-by-timex_print#1=45' target='_blank'>Buy Print</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

{% endblock content%}
